@use '../util' as *;

.hero {
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin: 3rem 0 2rem 0;

    @include breakpoint-down(small) {
      margin: 6rem 0 3rem 0;
    }
  }

  &__title {
    font-weight: 300;
    color: var(--gray);

    span {
      font-weight: 700;
      color: var(--very-dark-blue);
    }
    margin-bottom: 0.5rem;

    @include breakpoint-down(small) {
      margin-bottom: 1.25rem;
    }
  }

  &__description {
    margin-bottom: 1.5rem;

    @include breakpoint-down(small) {
      margin-bottom: 2rem;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;

    @include breakpoint-down(small) {
      flex-direction: column;
    }

    &__inputForm {
      position: relative;

      @include breakpoint-down(small) {
        width: 70%;
      }
    }

    &__error {
      position: absolute;
      color: var(--light-red);
      padding-left: 1rem;
      margin-top: 0.3rem;
      font-size: 0.7rem;

      @include breakpoint-down(small) {
        position: static;
        margin-top: 0;
        margin-bottom: 1.25rem;
        text-align: center;
      }
    }

    &__input {
      padding: 0.6rem 1rem;
      width: 17rem;
      border-radius: 25px;
      border: 1.75px solid hsla(0, 0%, 59%, 0.5);
      margin-right: 0.75rem;

      @include breakpoint-down(small) {
        width: 100%;
        margin-bottom: 0.75rem;
      }

      &:focus {
        outline: 0;
      }
    }

    &__btn {
      border: 0;
      color: #fff;
      background-color: var(--blue);
      padding: 0.6rem 2.25rem;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: -1px 2px 6px var(--blue);
      transition: all 0.5s ease-in-out;

      @include breakpoint-down(small) {
        width: 70%;
        margin-left: -0.55rem;
        padding: 0.8rem 2.25rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__dashboard {
    width: 100%;
    margin-bottom: 3rem;

    @include breakpoint-down(small) {
      width: 95%;
      margin-bottom: 5rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icons {
      color: var(--blue);
      margin-bottom: 1.75rem;

      i {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px rgba(136, 136, 136, 0.602);
        transition: all 0.6s ease-in-out;
        cursor: pointer;

        &:first-child {
          padding: 0.5em 0.7em;
        }

        &:not(:first-child) {
          padding: 0.5em;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          background-color: var(--blue);
          color: white;
        }
      }
    }

    &__text {
      margin-bottom: 1.5rem;
      &__description {
        color: var(--gray);

        @include breakpoint-down(small) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
